<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :template => "navigation/top_navigation" %>
<div class="main_container">
  <%- if user_signed_in?%>
    <div class="left_sidebar total_form_style">
      <%= render :template => "categories/display_category_tree" %>
    </div>
  <%- end%>
  <div class="central_content total_form_style">
    <%= yield %>
  </div>
  <%- if user_signed_in?%>
    <div class="right_sidebar total_form_style">
        <%= render :template => "layouts/right_sidebar" %>
    </div>
  <%- end%>
</div>
<%= render :template => "navigation/bottom_navigation" %>

</body>
</html>