<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :template => "navigation/top_navigation" %>
<div class="main_container">
  <div class="left_sidebar total_form_style">
    Categories:
  </div>
  <div class="central_content total_form_style">
    <%= yield %>
  </div>
</div>
<%= render :template => "navigation/bottom_navigation" %>

</body>
</html>